<?xml version="1.0"?>
<config>
    <modules>
        <Magecomp_AbsolutePricing>
            <version>1.0.1</version>
        </Magecomp_AbsolutePricing>
    </modules>
    <global>
		<models>
			<adminhtml>
				<rewrite>
					<system_config_source_product_options_price>Magecomp_AbsolutePricing_Model_Source_Price</system_config_source_product_options_price>
				</rewrite>
			</adminhtml>
			<catalog>
				<rewrite>
					<product_option_type_default>Magecomp_AbsolutePricing_Model_Product_Option_Type_Default</product_option_type_default>
					<product_option_type_select>Magecomp_AbsolutePricing_Model_Product_Option_Type_Select</product_option_type_select>
					<product_type_price>Magecomp_AbsolutePricing_Model_Product_Type_Price</product_type_price>
				</rewrite>
			</catalog>
			<catalog_resource_eav_mysql4>
				<rewrite>
					<product_option_value>Magecomp_AbsolutePricing_Model_Resource_Eav_Mysql4_Product_Option_Value</product_option_value>
				</rewrite>
			</catalog_resource_eav_mysql4>
            <absolutepricing>
                <class>Magecomp_AbsolutePricing_Model</class>
                <resourceModel>absolutepricing_mysql4</resourceModel>
            </absolutepricing>
            <absolutepricing_mysql4>
                <class>Magecomp_AbsolutePricing_Model_Mysql4</class>
            </absolutepricing_mysql4>
        </models>
        <resources>
            <absolutepricing_setup>
                <setup>
                    <module>Magecomp_AbsolutePricing</module>
                    <class>Magecomp_AbsolutePricing_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </absolutepricing_setup>
            <absolutepricing_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </absolutepricing_setup_write>
            <absolutepricing_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </absolutepricing_setup_read>
        </resources>
		<helpers>
			<absolutepricing>
				<class>Magecomp_AbsolutePricing_Helper</class>
			</absolutepricing>
		</helpers>
		<blocks>
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tab_options_option>Magecomp_AbsolutePricing_Block_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
				</rewrite>
			</adminhtml>
			<catalog>
				<rewrite>
					<product_view_options_type_select>Magecomp_AbsolutePricing_Block_Product_View_Options_Type_Select</product_view_options_type_select>
					<product_view_options>Magecomp_AbsolutePricing_Block_Product_View_Options</product_view_options>
				</rewrite>
			</catalog>
		</blocks>
	</global>
	<frontend>
		<layout>
			<updates>
				<absolutepricing>
					<file>absolutepricing.xml</file>
				</absolutepricing>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						  <system>
							  <children>
								  <config>
									  <children>
										  <absolutepricing translate="title" module="absolutepricing">
											  <title>Absolute Price</title>
										  </absolutepricing>
									  </children>
								  </config>
							  </children>
						  </system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>	
</config>
