<?xml version="1.0"?>
<config>
    <modules>
        <Ophirah_Not2Order>
            <version>2.1.2</version>
        </Ophirah_Not2Order>
    </modules>
    <global>
        <blocks>
            <not2order>
                <class>Ophirah_Not2Order_Block</class>
            </not2order>
            <bundle>
                <rewrite>
                    <catalog_product_view_type_bundle_option_checkbox>Ophirah_Not2Order_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Checkbox</catalog_product_view_type_bundle_option_checkbox>
                    <catalog_product_view_type_bundle_option_multi>Ophirah_Not2Order_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Multi</catalog_product_view_type_bundle_option_multi>
                    <catalog_product_view_type_bundle_option_radio>Ophirah_Not2Order_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Radio</catalog_product_view_type_bundle_option_radio>
                    <catalog_product_view_type_bundle_option_select>Ophirah_Not2Order_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Select</catalog_product_view_type_bundle_option_select>
                </rewrite>
            </bundle>
            <catalog>
                <rewrite>
                    <product_view_options_type_select>Ophirah_Not2Order_Block_Product_View_Options_Type_Select</product_view_options_type_select>
                    <product_view_options_type_text>Ophirah_Not2Order_Block_Product_View_Options_Type_Text</product_view_options_type_text>
                    <product_view_options_type_default>Ophirah_Not2Order_Block_Product_View_Options_Type_Default</product_view_options_type_default>
                    <product_view_options_type_file>Ophirah_Not2Order_Block_Product_View_Options_Type_File</product_view_options_type_file>
                    <product_view_options_type_date>Ophirah_Not2Order_Block_Product_View_Options_Type_Date</product_view_options_type_date>
                </rewrite>
            </catalog>
        </blocks>

        <models>
            <not2order>
                <class>Ophirah_Not2Order_Model</class>
            </not2order>
        </models>

        <helpers>
            <not2order>
                <class>Ophirah_Not2Order_Helper</class>
            </not2order>
            <bundle>
                <rewrite>
                    <catalog_product_configuration>Ophirah_Not2Order_Helper_Bundle_Catalog_Product_Configuration</catalog_product_configuration>
                </rewrite>
            </bundle>
        </helpers>

        <events>
            <catalog_product_is_salable_after>
                <observers>
                    <ophirah_not2order_setsalestate>
                        <class>not2order/observer</class>
                        <method>setSaleableState</method>
                    </ophirah_not2order_setsalestate>
                </observers>
            </catalog_product_is_salable_after>
            <admin_system_config_changed_section_qquoteadv_general>
                <observers>
                    <ophirah_not2order_default_order_attribute>
                        <type>singleton</type>
                        <class>not2order/observer</class>
                        <method>defaultNot2OrderAttribute</method>
                    </ophirah_not2order_default_order_attribute>
                </observers>
            </admin_system_config_changed_section_qquoteadv_general>
        </events>

        <resources>
            <not2order_setup>
                <setup>
                    <module>Ophirah_Not2Order</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </not2order_setup>
            <not2order_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </not2order_write>
            <not2order_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </not2order_read>
        </resources>
    </global>

    <frontend>
        <layout>
            <updates>
                <not2order>
                    <file>not2order.xml</file>
                </not2order>
            </updates>
        </layout>

        <translate>
            <modules>
                <Ophirah_Not2Order>
                    <files>
                        <default>Ophirah_Not2Order.csv</default>
                    </files>
                </Ophirah_Not2Order>
            </modules>
        </translate>
    </frontend>

    <default>
        <qquoteadv_general>
            <orderability_and_prices translate="default_description" module="not2order">
                <enabled>1</enabled>
                <autohide>1</autohide>
                <default_not2order_attribute_value>1</default_not2order_attribute_value>
            </orderability_and_prices>
        </qquoteadv_general>
    </default>
</config>
