<!--@subject {{var quote.getStoreGroupName()}}: Quote request # {{var quote.increment_id}} is rejected @-->

<!--@styles
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=''}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>你好 {{htmlescape var=$customer.name}}</strong>,<br/><br>
                                你的询价请求 {{var quote.getStoreGroupName()}}编号 # {{var
                                quote.increment_id}} 已经被取消。<br><br>
                                你可以检查你的取消请求状态经由<a href="{{store url='customer/account/'}}"
                                style="color:#1E7EC8;">登录到你的账户</a>.<br><br>
                                如果你有任何关于制作新的询价要求，请联系我们 <a
                                    href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
                                或致电<span class="nobr">{{config path='general/store_information/phone'}}</span> 周一 - 周五，上午8时 - 下午5点。
                            </p><br>

                            <p style="font-size:12px; margin:0;">谢谢, <strong>{{var
                                quote.getStoreGroupName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>               
