<?xml version="1.0"?>
<!--
/**
*
* CART2QUOTE CONFIDENTIAL
* __________________
*
*  [2009] - [2020] Cart2Quote B.V.
*  All Rights Reserved.
*
* NOTICE OF LICENSE
*
* All information contained herein is, and remains
* the property of Cart2Quote B.V. and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to Cart2Quote B.V.
* and its suppliers and may be covered by European and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Cart2Quote B.V.
*
* @category    Cart2Quote
* @package     Core
* @copyright   Copyright (c) 2020 Cart2Quote B.V. (https://www.cart2quote.com)
* @license     https://www.cart2quote.com/ordering-licenses(https://www.cart2quote.com)
*/
-->
<config>
    <modules>
        <Ophirah_Core>
            <version>6.3.1</version>
        </Ophirah_Core>
    </modules>
    <global>
        <models>
            <ophirah_core>
                <class>Ophirah_Core_Model</class>
            </ophirah_core>
        </models>
        <helpers>
            <ophirah_core>
                <class>Ophirah_Core_Helper</class>
            </ophirah_core>
        </helpers>
        <blocks>
            <ophirah_core>
                <class>Ophirah_Core_Block</class>
            </ophirah_core>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ophirahcore before="Mage_Adminhtml">Ophirah_Core_Adminhtml</Ophirahcore>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
