<!--@subject {{var quote.getStoreGroupName()}}: Offerteaanvraag # {{var quote.increment_id}} is geannuleerd @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=''}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>Beste {{htmlescape var=$customer.name}}</strong>,<br/><br>
                                Uw offerteaanvraag bij {{var quote.getStoreGroupName()}} met nummer # {{var
                                quote.increment_id}} is geannuleerd.<br><br>
                                U kunt de status van de geannuleerde offerteaanvraag bekijken door <a href="{{store url='customer/account/'}}"
                                style="color:#1E7EC8;">u zich in te loggen</a>.<br><br>
                                Als u vragen heeft over het maken van een nieuwe offerteaanvraag neem dan contact met ons op via <a
                                    href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
                                Wij zijn bereikbaar op: <span class="nobr">{{config path='general/store_information/phone'}}</span> van maandag - vrijdag, tussen 8:30hr - 17:00hr.
                            </p><br>

                            <p style="font-size:12px; margin:0;">Met vriendelijke groeten, <strong>{{var
                                quote.getStoreGroupName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
