<!--@subject {{var quote.getStoreGroupName()}}: Nieuw offerteverzoek # {{var quote.increment_id}} @-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="email-heading">
                        <h2>Beste {{htmlescape var=$customer.name}},</h2>
                        <h1>Bedankt voor uw offerteaanvraag van {{var store.getFrontendName()}}.</h1>
                        <p>U kunt binnen 48 uur ons aanbod verwachten.
                            Uw offerteaanvraag informatie staan hieronder. Nogmaals bedankt voor uw interesse.</p>
                    </td>
                    <td class="store-info">
                        <h4>Vragen over uw offerteaanvraag?</h4>
                        <p>
                          {{depend store_phone}}
                          <b>Wij zijn bereikbaar op:</b>
                          <a href="tel:{{var phone}}">{{var store_phone}}</a><br>
                          {{/depend}}
                          {{depend store_hours}}
                          <b>van maandag - vrijdag, tussen 8:30hr - 17:00hr.</b>
                          <span class="no-link">{{var store_hours}}</span><br>
                          {{/depend}}
                          {{depend store_email}}
                          <b>E-mail:</b> <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                          {{/depend}}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="quote-details">
            <h3>Uw offerteaanvraag met nummer<span class="no-link">#{{var
                                quote.increment_id}}</span></h3>
            <p>Geplaatst op {{var quote.getCreatedAtFormated('long')}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
