<!--@subject {{var storeGroupName}}: New Quote request # {{var incrementId}} - License not valid @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=''}}"><img
                                src="{{var logo_url}}" alt="{{var logo_alt}}"
                                style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>Hello {{var salesRepresentative}}</strong></Strong><br/><br>
                                You have received a new Quote Request for the website {{var
                                store.getFrontendName()}}. <br>

                                To unlock the details of new quote requests, please purchase a license for full access. A Cart2Quote license unlocks all details of quote request, including this one, and the possibility to answer the request with an online price proposal.

                                You are receiving this note because your Cart2Quote trial has expired and the functionality of Cart2Quote has been limited.<br>

                                <a href="https://www.cart2quote.com/magento-quotation-module-plans-pricing.html" style="color:#1E7EC8;">Buy a license</a><br>

                                Have a question about this e-mail? <a href="https://cart2quotesales.zendesk.com/hc/en-us/requests/new" style="color:#1E7EC8;">Submit a sales support ticket</a> <br><br>

                                Best regards, <br>

                                Cart2Quote Sales
                            </p><br>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
