<!--@subject {{var quote.getStoreGroupName()}}: You have received a new Quote Request #{{var quote.increment_id}} @-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="email-heading">
                        <h1>Hello {{var quote.getSalesRepresentative().getName()}},</h1>

                        <p>You have received and are assigned to a Quote Request from {{htmlescape var=$customer.name}} for the website {{var
                            store.getFrontendName()}}, placed on {{var quote.getCreatedAtFormated('long')}}.<br/>

                        View <a href="{{var quoteUrl}}" style="color:#1E7EC8;">this Quote Request</a> (You will be redirected to your Admin Panel)</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


