<!--@subject {{var quote.getStoreGroupName()}}: New Quote request # {{var quote.increment_id}} @-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="email-heading">
                        <h1>Hello,</h1>

                        <p>從 {{var store.getFrontendName()}}網站中, 你已經收到來自客戶{{htmlescape var=$customer.name}}的詢價請求.<br/>

                            <a href="{{var quoteUrl}}" style="color:#1E7EC8;">觀看詢價請求</a></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="quote-details">
            <h3>詢價請求<span class="no-link">#{{var
                                quote.increment_id}}</span></h3>

            <p>放在 {{var quote.getCreatedAtFormated('long')}}</p>
        </td>
    </tr>
</table>


