<!--@subject {{var quote.getStoreGroupName()}}: New Quote request # {{var quote.increment_id}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%"
           style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=''}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>你好 {{htmlescape var=$customer.name}}</strong>,<br/><br>
                                感謝你的詢價請求 {{var quote.getStoreGroupName()}}.<br><br>
                                在未來48小時內，你將可收到我們的報價。<br>
                                你可以檢查詢價單請求的狀態 <a href="{{store url='customer/account/'}}"
                                style="color:#1E7EC8;">登錄你的帳戶</a>.<br><br>
                                如果你對你的報價請求有任何疑問，請與我們聯繫 <a
                                    href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
                                或致電 <span class="nobr">{{config path='general/store_information/phone'}}</span> 週一 - 週五，上午8時 - 下午5時。
                            </p><br>

                            <p>再次感謝你對我們的信任。</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>               
